# Core functionality - changes here should be rare!
/src/app.py                   @Gromikhan
/src/backend/database.py      @Gromikhan
/src/backend/routers/auth.py  @Gromikhan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Gromikhan
